/* GLOBAL */
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

/*** FONTS ***/
@font-face {
  font-family: poppins_bold;
  src: url(../assets/fonts/Poppins-Bold.ttf);
}

/* MENTIONS */
/* .mentions_input {
  font-family: Source Sans Pro !important;
}

.mentions_input__highlighter {
  height: auto;
  min-height: 60px;
  padding: 10px;
  padding-right: 50px;
  transition: height 0.3s;
}

.focused_mentions_input .mentions_input__highlighter {
  min-height: 160px;
}

.mentions_input textarea {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 5px !important;
  padding: 10px;
  padding-right: 50px;
}

.mentions_input__suggestions {
  border-radius: 5px !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  background: #fafafa;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(20px);
}

.mentions_input__suggestions__item {
  padding: 5px;
  font-size: 14px;
}

.mentions_input__suggestions__item--focused {
  background-color: rgba(0, 0, 0, 0.1);
} */
